{% extends "auctions/layout.html" %}

{% block body %}
<h2>Watchlist</h2>
<div class="container">
    {% for listing in listings %}
        <a href="{% url 'listing' listing.id %}" style="text-decoration: none;">
            <div class="card">
                <img src="{{ listing.image }}" alt="{{ listing.title }}">
                <div class="card-body">
                    <h5>{{ listing.title }}</h5>
                    <p>Current Price: ${{ listing.price }}</p>
                    <p>Description: {{ listing.description }}</p>
                    <p>Listed by: {{ listing.created_by }}</p>
                </div>
            </div>
        </a>
    {% empty %}
        <p>Your watchlist is empty.</p>
    {% endfor %}
</div>
{% endblock %}
